h1
{
  color: white;
  font-family: 'Calligraffitti', cursive;
  font-weight:bolder;
}

p
{
    color: white;
    font-family: 'Calligraffitti', cursive; 
    font-weight:bolder;
}

button
{
    font-family: 'Calligraffitti', cursive; 
}